html {
	scroll-behavior: smooth;
}

.logo {
	width: 100px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.ss_sidebar {
	width: 230px;
}

.ss_footer {
	padding-top: 40px;
	padding-bottom: 30px;
	margin-top: 100px;
	color: #777;
	border-top: 1px solid #e5e5e5;
	text-align: left;
}

.ss_body {
	min-height: 650px;
}

.ss_footer p {
	margin-bottom: 0;
        font-size: small;
}

.ss_footer_links {
	margin-top: 10px;
}

body { 
	padding-top: 70px;
}

.img-thumbnail {
        display: block;
        margin-left: auto;
        margin-right: auto;
	margin-bottom: 10px;
        border: 2px solid #0e70f6;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .0823529412);
        border-radius: 7px;
        text-align: center;
}

.api-method-call-doc {
	margin-top: 30px;
	border-bottom: 1px solid #eee
}

nav#top-nav {
	background-color: #273759;
	border-color: #273759;
}

ul.navbar-nav a, .navbar-inverse .navbar-nav>li>a {
	color: #b2bfdc;
}

ul.navbar-nav a:hover {
	color: #fff;
	border-bottom: 3px solid #e99d1a;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #273759;
	border-bottom: 3px solid #e99d1a;
}

.header-link {
	padding-left: 4px;
	line-height: 1;
	font-size: 16px;
}

.top-tip {
	border: 1px solid aliceblue;
	border-radius: 15px;
	padding: 25px;
	margin-top: 35px;
	margin-bottom: 35px;
	background: #f4f7fa;
}

ul#side-nav ul {
	margin-left: 15px;
}

ul#side-nav ul > li {
	margin-top: 5px;
}

ul#side-nav ul > li.active {
	text-decoration: underline;
}

ul#side-nav ul > li.active span.you-are-here-arrow {
	margin-left: 5px;
}

noncloud, cloud, tip {
	padding: 10px;
	margin: 25px;
	display: block;
}

noncloud {
	background: aliceblue;
        justify-content: space-between;
        font-size: 14px;
        border-radius: 20px;
        border: 2px solid #0e70f6;
        background-color: #fff;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, .0823529412);
}

.cloud {
	background: aliceblue;
        justify-content: space-between;
        font-size: 14px;
        border-radius: 20px;
        border: 2px solid #0e70f6;
        background-color: #fff;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, .0823529412);
}

.tip {
	background: aliceblue;
	justify-content: space-between;
	font-size: 14px;
	border-radius: 20px;
	border: 2px solid #0e70f6;
	background-color: #fff;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, .0823529412);
}

.version {
        background: aliceblue;
        justify-content: space-between;
        font-size: 14px;
        border-radius: 20px;
        border: 2px solid #f5c842;
        background-color: #fff;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, .0823529412);
}

.leftflush {
	float: left;
}

.header-logo {
	width: 70px !important;
}

h1 {
	padding: 0.5em;/*文字周りの余白*/
	color: #494949;/*文字色*/
	background: #eaf3ff;/*背景色*/
	border-bottom: solid 3px #516ab6;/*下線*/
}

h2 {
	padding: 0.5em;/*文字周りの余白*/
	color: #494949;/*文字色*/
	background: #eaf3ff;/*背景色*/
	border-left: solid 5px #516ab6;/*左線（実線 太さ 色）*/
}

h3 {
	background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

blockquote {
	font-size: 14px;
	min-height: 80px;
}

.tip::before {
	content: url("img/tip.png");
	display: inline-block;
	width: 70px;
	height: 50px;
	margin-right: 5px;
	float: left;
}

.cloud::before {
        content: url("img/cloud.png");
        display: inline-block;
        width: 70px;
        height: 50px;
        margin-right: 5px;
        float: left;
}

.version::before {
        content: url("img/attention.png");
        display: inline-block;
        width: 70px;
        height: 50px;
        margin-right: 5px;
        float: left;
}
