.logo {
	width: 100px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.ss_sidebar {
	width: 230px;
}

.ss_footer {
	padding-top: 40px;
	padding-bottom: 30px;
	margin-top: 100px;
	color: #777;
	border-top: 1px solid #e5e5e5;
	text-align: left;
}

.ss_body {
	min-height: 650px;
}

.ss_footer p {
	margin-bottom: 0;
}

.ss_footer_links {
	margin-top: 10px;
}

body { 
	padding-top: 70px;
}

.img-thumbnail {
	margin-bottom: 10px;
}

.api-method-call-doc {
  margin-top: 30px;
  border-bottom: 1px solid #eee
}

nav#top-nav {
  background-color: #273759;
  border-color: #273759;
}

ul.navbar-nav a, .navbar-inverse .navbar-nav>li>a {
  color: #b2bfdc;
}
ul.navbar-nav a:hover {
  color: #fff;
  border-bottom: 3px solid #e99d1a;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #273759;
  border-bottom: 3px solid #e99d1a;
}

.header-link {
    padding-left: 4px;
    line-height: 1;
    font-size: 16px;
}

.top-tip {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
    background: #f4f7fa;
}

ul#side-nav ul {
    margin-left: 15px;
}

ul#side-nav ul > li {
    margin-top: 5px;
}

ul#side-nav ul > li.active {
    text-decoration: underline;
}

ul#side-nav ul > li.active span.you-are-here-arrow {
    margin-left: 5px;
}

noncloud, cloud, tip {
    padding: 10px;
    margin: 25px;
    display: block;
}

noncloud {
    background: aliceblue;
}

cloud {
    background: aliceblue;
}

tip {
    background: aliceblue;
}
