.logo {
	width: 100px;
	margin-bottom: 20px;
	margin-top: 10px;
}

.ss_sidebar {
	width: 230px;
}

.ss_footer {
	padding-top: 40px;
	padding-bottom: 30px;
	margin-top: 100px;
	color: #777;
	border-top: 1px solid #e5e5e5;
	text-align: left;
}

.ss_body {
	min-height: 650px;
}

.ss_footer p {
	margin-bottom: 0;
        font-size: small;
}

.ss_footer_links {
	margin-top: 10px;
}

body { 
	padding-top: 70px;
	font-size: 18px;
}

.img-thumbnail {
	margin-bottom: 10px;
}

.api-method-call-doc {
  margin-top: 30px;
  border-bottom: 1px solid #eee
}

nav#top-nav {
  background-color: #273759;
  border-color: #273759;
}

ul.navbar-nav a, .navbar-inverse .navbar-nav>li>a {
  color: #b2bfdc;
}
ul.navbar-nav a:hover {
  color: #fff;
  border-bottom: 3px solid #e99d1a;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #273759;
  border-bottom: 3px solid #e99d1a;
}

.header-link {
    padding-left: 4px;
    line-height: 1;
    font-size: 16px;
}

.top-tip {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
    background: #f4f7fa;
}

ul#side-nav ul {
    margin-left: 15px;
}

ul#side-nav ul > li {
    margin-top: 5px;
}

ul#side-nav ul > li.active {
    text-decoration: underline;
}

ul#side-nav ul > li.active span.you-are-here-arrow {
    margin-left: 5px;
}

noncloud, cloud, tip {
    padding: 10px;
    margin: 25px;
    display: block;
}

noncloud {
    background: aliceblue;
}

cloud {
    background: aliceblue;
}

tip {
    background: aliceblue;
}

.leftflush {
    float: left;
}

.header-logo {
    width: 70px !important;
}

h1 {
  padding: 0.5em;/*文字周りの余白*/
  color: #010101;/*文字色*/
  background: #eaf3ff;/*背景色*/
  border-bottom: solid 3px #516ab6;/*下線*/
}

h2 {
  padding: 0.5em;/*文字周りの余白*/
  color: #494949;/*文字色*/
  background: #fffaf4;/*背景色*/
  border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}

h3 {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
}

h4 {
  position: relative;/*相対位置*/
  padding-left: 1.5em;/*アイコン分のスペース*/
  line-height: 1.4;/*行高*/
  color: black;/*文字色*/
}

h4:before {
  font-family: "Font Awesome 5 Free";/*忘れずに*/
  content: "\f111";/*アイコンのユニコード*/
  font-weight: 900;
  position: absolute;/*絶対位置*/
  font-size: 1.2em;/*サイズ*/
  left: 0;/*アイコンの位置*/
  top: -0.2em;/*アイコンの位置*/
  color: #a1ceff;
}

.tip {
  position: relative;
  border-top: solid 2px #80c8d1;
  border-bottom: solid 2px #80c8d1;
  background: #f4f4f4;
  line-height: 1.4;
  padding: 0.4em 0.5em;
  margin: 2em 0 0.5em;
}

.tip:after {
  /*タブ*/
  position: absolute;
  font-family: "Font Awesome 5 Free",'Quicksand','Avenir','Arial',sans-serif;
  font-weight: 900;
  content: '\f0a7\ Tip';
  background: #80c8d1;
  color: #fff;
  left: 0px;
  bottom: 100%;
  border-radius: 5px 5px 0 0;
  padding: 5px 7px 3px;
  font-size: 0.7em;
  line-height: 1;
  letter-spacing: 0.05em;
}

.ss_body img {
  box-shadow: 5px 5px 5px 2px rgba(3, 3, 3, 0.4);
}

